<main>
  <div class="row">
    <div class="container center-align">
      <div class="col l5 m5 s6">
        {{#each tasks}}
        {{#unless this.completed}}
        <div>
          <form action="/tasks/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class="taskAvailable">
              {{this.task_name}}
            </button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>

      <div class="col l5 m5 s6">

        {{#each tasks}}
        {{#if this.completed}}

        <div class="completedTask">
          <div>
            {{this.task_name}}
          </div>
        </div>

        {{/if}}
        {{/each}}

      </div>
    </div>
  </div>


  <div class="row">
    <div class="container center-align">
      <div class="col l3 m3 s2"></div>
      <div class="col l6 m6 s8">
        <h2>Add a task to do:</h2>
        <form action="/tasks" method="POST">
          <input type="text" id="name" name="task_name" placeholder="Task">
          <button type="submit" class="addTaskButton">Add!</button>
        </form>
      </div>
      <div class="col l3 m3 s2"></div>
    </div>
  </div>
</main>