<main>
  <div class="container">
    <div class="col l1 1m 0s"></div>
  </div>

  <div class="col 10l 10m 12s">
    <div class="container" style="background-color: white">
      <div class="row">
        <div class="headerPic center-align">
          <h1>Task Manager</h1>
          <div class="container center-align">

            <div class="col l5 m5 s6" style="padding-bottom: 5%">
              {{#each tasks}}
              {{#unless this.completed}}
              <div>
                <form action="/tasks/{{this.id}}?_method=PUT" method="POST">
                  <button type="submit" class="taskAvailable">
                    {{this.task_name}}
                  </button>
                </form>
              </div>
              {{/unless}}
              {{/each}}
            </div>

            <div class="col l5 m5 s6" style="padding-bottom: 5%">
              {{#each tasks}}
              {{#if this.completed}}
              <div class="completedTask">
                {{this.task_name}}
              </div>
              {{/if}}
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container center-align">
      <div class="col l3 m3 s2"></div>

      <div class="col l6 m6 s8" style="background-color: #639fff; padding: 3%;">
        <h2>Add a task to do:</h2>
        <div class="container">
          <form action="/tasks" method="POST">
            <input type="text" id="name" name="task_name" placeholder="Task" class="center-align" style="background-color: white">
            <button type="submit" class="addTaskButton">Submit</button>
          </form>
        </div>
      </div>

      <div class="col l3 m3 s2"></div>
    </div>
  </div>
  </div>
  </div>
  </div>

  <div class="container">
    <div class="col l1 m1 s0"></div>
  </div>

  <footer class="taskManagerFooter">
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="https://github.com/annasylvester/Task-Manager">Reference
          Work</a>
      </div>
    </div>
  </footer>
</main>